.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-report {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .form-label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }

  .form-input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
  }

  .form-checkbox {
    margin-bottom: 10px;
    display: inline-block;
  }

  .form-button {
    background-color: #0077cc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  .form-button:hover {
    background-color: #0066b3;
  }

  .header{
    padding: 10px;
}

a {
  flex: 1;
  text-decoration: none;
  outline: none;
  text-align: center;
  line-height: 3;
}

a:link,
a:visited,
a:focus {
  color: black;
}

a:hover {
  background: rgb(93, 142, 248);
}
