{% extends 'base.html' %}
{% block head %}

<link rel="stylesheet" href="{{url_for('static', filename='css/entry.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
{% endblock %}
{% block body %}
<div class="container-report">
    <table class="card">
        <tr>
          <th class="header">Serial Number</th>
          <th class="header">Title of Book</th>
          <th class="header">Name of Publisher</th>
          <th class="'header">Publisher Age</th>
          <th class="header">Date of Publication</th>
        </tr>
      <tbody>
        {% for book in books %}
          <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.name }}</td>
            <td>{{ book.publisher_name }}</td>
            <td>{{book.publisher_age}}</td>
            <td>{{ book.publish_date }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}