{% extends 'base.html' %}

{% block head %}
<title>Update e-Book</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/entry.css')}}">
{% endblock %}



{% block body %}
<div class="container">
    <div class="card">
        <h1>Book Update Form</h1>
        <form action="{{ url_for('update', id=book.id) }}" method="POST">
            <label for="book-name" class="form-label">Name of the book:</label>
          <input type="text" name="book-name" id="book-name" class="form-input" value={{book.name}} required>
    
          <label for="publisher-name" class="form-label">Publisher's name:</label>
          <input type="text" name="publisher-name" id="publisher-name" class="form-input" value={{book.publisher_name}} required>
    
          <label for="publisher-age" class="form-label">Publisher's age:</label>
          <input type="number" name="publisher-age" id="publisher-age" class="form-input" value={{book.publisher_age}} required>
    
          <label for="publish-date" class="form-label">Publish date:</label>
          <input type="date" name="publish-date" id="publish-date" class="form-input" value={{book.publisher_date}} required>
    
          <label for="book-type" class="form-label">Book type:</label>
          <br>
          {%if book.book_type=='sci-fi'%}
          <input type="checkbox" name="book-type" id="sci-fi" value="sci-fi" class="form-checkbox" checked>
          <label for="sci-fi" class="form-label">Sci-fi</label>
          <input type="checkbox" name="book-type" id="drama" value="drama" class="form-checkbox">
          <label for="drama" class="form-label">Drama</label>
          <input type="checkbox" name="book-type" id="novel" value="novel" class="form-checkbox">
          <label for="novel" class="form-label">Novel</label>
          {%endif%}
          {%if book.book_type=='drama'%}
          <input type="checkbox" name="book-type" id="sci-fi" value="sci-fi" class="form-checkbox">
          <label for="sci-fi" class="form-label">Sci-fi</label>
          <input type="checkbox" name="book-type" id="drama" value="drama" class="form-checkbox" checked>
          <label for="drama" class="form-label">Drama</label>
          <input type="checkbox" name="book-type" id="novel" value="novel" class="form-checkbox">
          <label for="novel" class="form-label">Novel</label>
          {%endif%}
          {%if book.book_type=='novel'%}
          <input type="checkbox" name="book-type" id="sci-fi" value="sci-fi" class="form-checkbox">
          <label for="sci-fi" class="form-label">Sci-fi</label>
          <input type="checkbox" name="book-type" id="drama" value="drama" class="form-checkbox">
          <label for="drama" class="form-label">Drama</label>
          <input type="checkbox" name="book-type" id="novel" value="novel" class="form-checkbox" checked>
          <label for="novel" class="form-label">Novel</label>
          {%endif%}
    
          <input type="submit" Value="Update" class="form-button">
        </form>
        <a href="{{ url_for('index') }}" class="btn btn-primary">Go to Index Page</a>

    </div>
</div>
{% endblock %}


